*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
}
:root {
    /*--lm-bg-color: white;*/
    /*--lm-text: #2b3442;*/
    /*--lm-text-alt:#4b6a9b;*/
    --bg-color:white;
    --text-color:black;
}


body {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    z-index: 0;
}

/*.header, .wrapper {*/
/*    !* Add other elements that need color changes *!*/
/*    background-color: var(--bg-color);*/
/*    color: var(--text-color);*/
/*}*/

/* Define light and dark specific variables */
.light-mode {
    --bg-color: #F5FFFA;
    --text-color:#40566e;
}

.dark-mode {
    --bg-color: #141D2F;
    --text-color: white;
}

/* Example of inactive class for elements */
.inactive {
    display: none;
}

.active {
    display: inline-block;
}
.wrapper{
    margin: auto;
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 7rem;
}
.page-content{
    max-width: 1200px;
    width: 700px;
    margin: auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mode{
    display: flex;
    gap: 6px;
    align-items: center;
}
.mode p{
    font-size: medium;
}
.heading{
    font-weight: 600;
    font-size: 1.8rem;
    opacity: 0.9;
}
.user-info-container{
    display: flex;
}
.mode-btn{
    background-color: transparent;
    border: none;
    /*padding-bottom: 18px;*/
}
.searchbar-container{
    width: 100%;
    margin-top: 2.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 10px;
}
form {
    width: 82%;
    /*margin-left: -6rem;*/
    position: relative; /* Added position relative */
    border-radius: 10px;
}

input {
    all: unset;
    width: 100%;
    height: 70px;
    padding: 0 60px;
    border-radius: 10px;
}

.fa-magnifying-glass {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
}

.search-btn {
    position: absolute;
    top: 50%;
    right: -6.7rem;
    transform: translateY(-50%);
    padding-right: 1px;
    height: 80%;
    width: 110px;
    border-radius: 10px;
    /*font-size: larger;*/
    font-weight: bold;
    font-size: medium;
    background-color: #0079ff;
    border: none;
    color: white;
}
.user-info-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 4rem;
    /*margin: auto;*/
    margin-top: 4rem;
    background-color:#112d4e ;
    border-radius: 12px;
    padding: 2rem 2rem;
    z-index: 4;
    border: 1px solid;
}
.nameDate{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-info-left{
    width: 25%;
}
.user-info-left img{
    width: 110px;
    border-radius: 50%;
    /*margin-left: -5rem;*/
    /*margin-top: -30rem;*/
}
.user-info-right{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}
.user-info-right p[user-name]{
    font-size: 25px;
    font-weight: bold;
}
.inner-user-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 90px;
    margin: 20px 0;
    border-radius: 10px;
}
.extra-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    /*column-gap: 4.5rem;*/
}
.extra-info-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 3rem;
}
.user{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.extra-info-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 3rem;
}




